# Partent Project
/bin
/database
/target

/derby.log

/.settings
/.project
/.classpath

# Common
/common/bin
/common/target

/common/.settings
/common/.project
/common/.classpath

# Client
/client/.settings
/client/target

/client/bin

/client/.project
/client/.classpath

# Server
/server/bin
/server/database
/server/target

/server/derby.log

/server/.settings
/server/.project
/server/.classpath

# Webstart
/webstart/bin
/webstart/target

/webstart/.settings
/webstart/.project
/webstart/.classpath
